<div class="bg-v-green-l">
  <div class="container py-5">
    <div class="text-center fs-2 text-white fw-bold">{{title}}</div>
    <!-- <div class="text-center text-white mt-3">Take your first step towards business transfermation</div> -->
    <div class="d-flex justify-content-center mt-4">
      <button class="shadow btn btn-md btn-white bg-white" data-bs-toggle="modal" data-bs-target="#getInTouch">
        <!-- <i class="fa-solid fa-phone"></i> -->
        <span>Get in Touch</span>
      </button>
    </div>
  </div>
</div>