<div class="ratio ratio-21x9 bg-img-res">
    <div style="height: 100%;" class="d-flex align-items-center">
        <div class="container my-2">
            <div class="text-white mb-auto mt-4">/ About Us</div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-12 row">
                    <div class="col-12 col-sm-12 col-md-6 text-white fw-bold" style="font-size: 4vw;">We do great things
                        together</div>
                </div>
                <div class="col-6 col-sm-6 col-md-12 row">
                    <div class="col-12 col-sm-12 col-md-6 text-white" style="font-size: 1.7vw;">
                        <div class="mt-4">Find a team of digital
                            marketers you can rely on. We build
                            trust through communication, transparency, and results.</div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center justify-content-sm-start d-block d-md-none">
                <button type="button" class="btn btn-outline-light btn-sm" data-bs-toggle="modal"
                    data-bs-target="#getInTouch">Get in Touch</button>
            </div>
            <div class="d-flex justify-content-center justify-content-sm-start mt-4 d-none d-md-block">
                <button type="button" class="btn btn-outline-light btn-md" data-bs-toggle="modal"
                    data-bs-target="#getInTouch">Get in Touch</button>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="d-flex flex-column flex-md-column-reverse">
                <div class="mt-4">
                    <img src="assets/guy-shows-document-girl-group-young-freelancers-office-have-conversation-working 1.png"
                        class="w-100 rounded" alt="">
                </div>
                <div class="row my-5">
                    <div class="col-10">
                        <p class="fs-2 fw-bold">
                            Founded on trust.
                            Focused on
                            relationships.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="d-flex flex-column flex-md-column-reverse">
                <div class="mt-5 pt-3">
                    <img src="assets/group-coworkers-office-talking 1.png" class="w-100 rounded" alt="">
                </div>
                <div class="my-5">
                    <p class="text-muted">
                        Find a team of digital marketers you can rely on. Every day,
                        we build trust through communication, transparency, and
                        results. In order to make sure your website is user friendly and
                        optimized for Google’s algorithm, our on-site optimization
                        experts clean up the code and copy.
                    </p>
                    <p class="fs-5" routerLink="/contact" style="cursor: pointer;">Contact Us <i
                            class="fa-solid fa-arrow-right fs-6"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="background-image: linear-gradient(to bottom right, #fff, #E3F0F2);">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6">
                <p class="fs-2 fw-bold text-center">What clients value most
                    about us</p>
                <p class="text-muted text-center">
                    Find a team of digital marketers you can rely on. Every day, we
                    build trust through communication, transparency, and results.
                </p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 py-2" *ngFor="let elm of cards;let i=index">
                <div class="card w-100 card-1 shadow cur-poiter h-100">
                    <div class="card-body mx-2 mx-sm-0">
                        <div class="d-flex justify-content-center">
                            <div class="rounded-circle d-flex justify-content-center align-items-center"
                                style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                                <img [src]="elm.icon" style="max-height: 65px;max-width: 65px;" alt="">
                            </div>
                        </div>
                        <p class="fw-bold pt-2 text-center">{{elm.title}}</p>
                        <p class="text-muted text-center" style="font-size: 13px;">{{elm.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <img src="assets/technology-high-profit-stock-market-business-growth-strategy-planing-concept-businessman-presenting-graphs-charts-information-digital-tablet 1.png"
                alt="" class="w-100">
        </div>
        <div class="col-12 col-sm-12 col-md-6 d-flex align-items-center">
            <div class="mx-md-0 mx-xl-5 px-xl-5 px-md-0 my-5">
                <p class="fs-2 fw-bold">Who we are?</p>
                <p class="fs-2 fw-bold v-green-l">Hello! We are Valiant Edge</p>
                <p class="text-muted">
                    An impassioned team, driving tangible change for your
                    business. We empower you to connect with your target
                    audience precisely when it matters. Authenticity is our
                    pledge promising impactful actions that yield real results!
                </p>
            </div>
        </div>
    </div>
    <div class="row flex-sm-row-reverse">
        <div class="col-12 col-sm-12 col-md-6">
            <img src="assets/technology-high-profit-stock-market-business-growth-strategy-planing-concept-businessman-presenting-graphs-charts-information-digital-tablet 1 (1).png"
                alt="" class="w-100">
        </div>
        <div class="col-12 col-sm-12 col-md-6 d-flex align-items-center">
            <div class="mx-md-0 mx-xl-5 px-xl-5 px-md-0 my-5">
                <p class="text-muted">
                    In a world where digital consumers express their
                    uniqueness in countless ways, we craft victorious
                    marketing strategies rooted in a profound
                    comprehension of your audience and the factors
                    shaping their choices across multiple platforms.
                </p>
                <p class="text-muted">
                    Uncover the essence of your customers, locate their
                    presence, establish meaningful connections, and
                    measure the impact. This is our recipe for magnifying
                    outcomes and delivering exceptional digital advertising,
                    SEO, social media, analytics, and creative services that
                    have garnered accolades.
                </p>
                <p>
                    <!-- <button type="button" class="btn btn-outline-success btn-sm">Come aboard</button> -->
                </p>
            </div>
        </div>
    </div>
</div>
<app-lets-talk-form [isBgRequired]="true"></app-lets-talk-form>
<app-book-call></app-book-call>