<div class="ratio ratio-21x9 bg-img-res">
    <div style="height: 100%;" class="d-flex align-items-center">
        <div class="container my-2">
            <div class="text-white mb-auto mt-4">/ Career</div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-12 row">
                    <div class="col-12 col-sm-12 col-md-6 text-white fw-bold" style="font-size: 4vw;">Embark on your
                        next
                        thrilling adventure!</div>
                </div>
                <div class="col-6 col-sm-6 col-md-12 row">
                    <div class="col-12 col-sm-12 col-md-6 text-white" style="font-size: 1.7vw;">
                        <div class="mt-4">Step into an extraordinary workplace where learning is a daily
                            adventure. Dreams come true here. Discover it for yourself!</div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center justify-content-sm-start d-block d-md-none">
                <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                    data-bs-target="#getInTouch">Get in
                    Touch</button>
            </div>
            <div class="d-flex justify-content-center justify-content-sm-start mt-4 d-none d-md-block">
                <button type="button" class="btn btn-outline-light btn-lg" data-bs-toggle="modal"
                    data-bs-target="#getInTouch">Get in
                    Touch</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="mt-5">
        <p class="fs-1 fw-bold text-center">Get the inside scoop from our leaders</p>
        <p class="text-center text-muted">At Valiant Edge, we follow a structured format with a clear line of thought
            to fine-tune your web design and development process.

        </p>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 p-5">
            <div class="rounded-4 w-100 h-100" style="background-color: #eee;">
                <div class="d-flex justify-content-center">
                    <div class="position-absolute" style="margin-top: -50px;">
                        <div class="rounded-circle profilepic">
                        </div>
                    </div>
                </div>

                <div class="p-5">
                    <p class="fw-bolder text-center mb-0">Kalpana KM</p>
                    <p style="font-size: 13px;" class="text-center text-muted">Founder</p>
                    <p class="text-start">
                        Kalpana K M, an esteemed founder of Valiant Edge, a trailblazing software
                        development and digital marketing company. With her unwavering
                        determination and entrepreneurial spirit, Kalpana has played a pivotal
                        role in shaping Valiant Edge into a powerhouse of innovation and
                        excellence. Her visionary leadership and deep expertise have propelled
                        the company to great heights, delivering transformative solutions to
                        businesses in the digital landscape. Join us as we delve into Kalpana's
                        remarkable journey, marked by her passion for technology and her
                        commitment to driving meaningful change in the industry.
                    </p>
                    <p class="text-start">Through strong partnerships and a customer-centric approach, we tailor
                        solutions to meet unique client needs, ensuring their success becomes
                        our success. In a rapidly evolving digital landscape, we embrace change
                        and stay ahead of the curve. Our agility equips us and our clients to
                        navigate the digital world with confidence.Join us on this transformative
                        journey where innovation knows no bounds.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <div class="rounded-4 w-100 h-100" style="background-color: #eee;">
                <div class="d-flex justify-content-center">
                    <div class="position-absolute" style="margin-top: -50px;">
                        <div class="rounded-circle profilepic2">
                        </div>
                    </div>
                </div>

                <div class="p-5">
                    <p class="fw-bolder text-center mb-0">Lakshmi Vasishta</p>
                    <p style="font-size: 13px;" class="text-center text-muted">Co-Founder</p>
                    <p class="text-start">
                        Lakshmi Vasishtha, an accomplished co-founder of Valiant Edge and a
                        dedicated health coach. Holding a Master's degree in Commerce, Lakshmi
                        brings a unique blend of business acumen and wellness expertise to
                        her roles. With her visionary leadership, she has been instrumental in
                        driving Valiant Edge's success while passionately guiding individuals
                        towards better health. Join us as we delve into Lakshmi's journey and
                        discover the profound impact she has made in both the realms of
                        technology and well-being.

                    </p>
                    <p class="text-start">Through strong partnerships and a customer-centric approach, we tailor
                        solutions to meet unique client needs, ensuring their success becomes
                        our success. In a rapidly evolving digital landscape, we embrace change
                        and stay ahead of the curve. Our agility equips us and our clients to
                        navigate the digital world with confidence.Join us on this transformative
                        journey where innovation knows no bounds.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="mt-5">
        <p class="fs-1 fw-bold text-center">Gallery</p>
    </div>
    <div class="row">
        <img *ngFor="let elm of gallery" class="rounded-4 col-12 col-md-3 col-lg-4 my-2"
            src="assets/group-business-executives-smiling-camera 1.png" alt="">
    </div>
</div>
<div class="container  mt-5">
    <div class="mt-5">
        <p class="fs-1 fw-bold text-center">Ready to create a meaningful impact?</p>
        <p class="text-muted text-center">Passion, creativity, and hard work—our recipe for
            success. Join us and love what you do!</p>
    </div>
    <div class="mt-5">
        <form>
            <div class="row">
                <div class="col-12">
                    <div class="input-group input-group-lg mb-3">
                        <input type="text" class="form-control"
                            placeholder="eg: java developer or java or rectjs or etc.">
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-between justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="input-group mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>All Locations</option>
                            <option value="1">Bengalore</option>
                            <option value="2">Mysore</option>
                            <option value="3">Chennai</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="input-group mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>All Department</option>
                            <option value="1">IT</option>
                            <option value="2">Digital Marketing</option>
                            <option value="3">HR</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3">
                    <div class="input-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>All Work Type</option>
                            <option value="1">Office</option>
                            <option value="2">Remote</option>
                            <option value="3">Hybride</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-md-2 col-xl-1">
                    <div class="input-group mb-3">
                        <button type="submit" class="form-control btn btn-danger fw-bold">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-4">
            <table class="table table-borderless">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Work Type</th>
                        <th scope="col">Location</th>
                        <th scope="col">Department</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fs-6 fw-bold" *ngFor="let elm of counts;let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>
                            <div>
                                <div>Node Js Developer</div>
                                <div style="font-size: 13px;" class="text-muted">May 30th 2023 5:36 PM</div>
                            </div>
                        </td>
                        <td>
                            <div class="badge rounded-pill text-bg-danger">Office</div>
                        </td>
                        <td>Mysore</td>
                        <td class="text-danger">IT</td>
                        <td><button type="button" class="btn btn-outline-danger btn-sm">See Details</button></td>
                    </tr>
                    <tr *ngIf="!counts.length">
                        <td colspan="6">
                            <div class="fw-bold text-danger text-center text-capitalize">Currently no requirement
                                available</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-lets-talk-form></app-lets-talk-form>
<app-book-call></app-book-call>