<div class="container">
    <div class="rounded-4 shadow" style="background-image: linear-gradient(to bottom right, #D0D3FA, #fff);">
        <div class="row flex-sm-row-reverse py-3">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 row justify-content-center">
                <!-- <div class="col-10 col-sm-10 col-md-8"> -->
                <img src="assets/vecteezy_illustration-isometric-concept-safety-of-online-shopping-in_5638074 [Converted] 1.png"
                    class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="ms-3">
                        <p class="fs-1 mb-2 fw-bold">E-Commerce Development</p>
                        <p class="pb-3 text-muted">Provide rich experience to your customers with
                            user-friendly online store</p>
                        <button class="btn btn-lg bg-v-green-l rounded-0 border border-v-green-l fw-bold"
                            data-bs-toggle="modal" data-bs-target="#getInTouch">Get In Touch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="assets/vecteezy_e-commerce-shop-for-the-world-s-online-shopping-transactions_ [Converted]-01 1.png"
                    class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-2">High-quality E-commerce apps
                        guaranteed.</p>
                    <p class="pb-3 text-muted">At Valiant Edge, we plan, strategize, and develop the best
                        eCommerce mobile apps that deliver an engaging and exciting
                        purchasing experience. Our talented and experienced team of
                        eCommerce mobile app developers helps you prioritize your
                        requirements. Whether you need an exclusive Android or iOS app,
                        a hybrid or cross-platform mobile app, or a hybrid or cross-platform
                        mobile app, Valiant Edge can provide you with a high-quality solution.</p>
                    <p class="fs-4 v-green-l">Take a look at what you can achieve with us:</p>
                    <div class="text-muted">
                        <ul>
                            <li>Super easy navigation and predictable user flow.</li>
                            <li>Hassle-free check-out process.</li>
                            <li>Multiple payment options and shipping methods.</li>
                            <li>Social media integration and advanced features.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-3 pb-5">
    <div class="container">
        <p class="text-center fs-2 mt-5 fw-bold">Our solutions that help you stay on TOP</p>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <p class="text-center text-muted">Let us help you ramp up quickly and get your mission-critical projects
                    executed within the deadline</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-2" *ngFor="let elm of cards">
                <div class="card w-100 card-1 shadow cur-poiter h-100">
                    <div class="card-body mx-2">
                        <div class="rounded-circle d-flex justify-content-center align-items-center"
                            style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                            <img [src]="elm.icon" style="max-height: 65px;max-width: 65px;" alt="">
                        </div>
                        <p class="fw-bold pt-2">{{elm.name}}</p>
                        <p class="text-muted" style="font-size: 13px;">{{elm.description}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-5">
    <div class="container px-3">
        <div class="mt-3">
            <div>
                <p class="fs-2 text-center fw-bold">Know our expertise a bit closer!</p>
                <p class="text-center text-muted">Wondering why you should choose us? Let our technical expertise speak
                    for itself!
                </p>
            </div>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-react icon-str" style="color: #61DBFB;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">React JS</div>
                </div>
                <div class=" shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-angular icon-str"
                                style="font-size: 150px;padding-left: 9px;padding-top: 5px;color: #dd1b16 ;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Angular</div>
                </div>
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-vuejs icon-str"
                                style="font-size: 140px;padding-left: 13px;padding-top: 20px;color: #42b883 ;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Vue JS</div>
                </div>
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-node-js icon-str"
                                style="font-size: 140px;padding-left: 13px;padding-top: 5px;color: #68A063 ;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Node JS</div>
                </div>
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-php icon-str"
                                style="font-size: 115px; padding-left: 3px;padding-top: 20px;color: #8993be  ;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">PHP</div>
                </div>
                <div class=" shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-java icon-str" style="color: #dd1b16;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Java</div>
                </div>
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-laravel icon-str"
                                style="font-size: 130px;padding-left: 13px;padding-top: 16px;color: red;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Laravel</div>
                </div>
                <div class=" shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-wordpress icon-str"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Wordpress</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light py-5">
    <div class="container-fluid">
        <div>
            <p class="fs-2 text-center fw-bold">How do we develop the websites?</p>
            <p class="text-center text-muted">Our hard-earned experience guides us to develop solutions that interest,
                inspire and enrich your audience.
            </p>
        </div>
        <div class="container-fluid">
            <app-app-process></app-app-process>
        </div>
    </div>
</div>
<div class="my-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="../../assets/Untitled design (7) 1.png" class="img-fluid " alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-2">Engaging Business Decisions
                        for Revenue Growth</p>
                    <p class="pb-3 text-muted">With are unprecedent software solutions we will
                        build and strengthen the business of our customer.
                        Creating sophisticated application that computes power,
                        stores database and deliver perfection.</p>
                    <div class="row gy-4">
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white mb-auto"
                                    style="text-align: center; height: 30px;width: 30px; background-color: #7AC1EA;">1
                                </div>
                                <div class="ms-2 fs-5 text-break">Rich
                                    UI/UX</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white mb-auto"
                                    style="text-align: center; height: 30px;width: 30px; background-color: #D8939A;">2
                                </div>
                                <div class="ms-2 fs-5 text-break">Customised for
                                    your Needs</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; height: 30px;width: 30px; background-color: #9198DB;">3
                                </div>
                                <div class="ms-2 fs-5 text-break">Mobile
                                    friendly</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; height: 30px;width: 30px; background-color: #EDC878;">4
                                </div>
                                <div class="ms-2 fs-5 text-break">Latest
                                    technology</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; height: 30px;width: 30px; background-color: #4C55A5;">5
                                </div>
                                <div class="ms-2 fs-5 text-break">Timely
                                    Delivery</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; height: 30px;width: 30px; background-color: #BF9842;">6
                                </div>
                                <div class="ms-2 fs-5 text-break">Marketing
                                    Consultation</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-lets-talk-form [isBgRequired]="true"></app-lets-talk-form>
<app-book-call></app-book-call>