<div class="container">
    <div class="rounded-4 shadow" style="background-image: linear-gradient(to bottom right, #f9f9fa, #fff);">
        <div class="row flex-sm-row-reverse py-3">
            <div class="col-sm-12 col-md-4 row justify-content-center">
                <!-- <div class="col-10 col-sm-10 col-md-8"> -->
                <img src="assets/vecteezy_illustration-isometric-concept-safety-of-online-shopping-in_5638074 [Converted] 1 (1).png"
                    class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-8 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="ms-3">
                        <p class="fs-1 mb-2 fw-bold">Social Media Marketing</p>
                        <p class="pb-3 text-muted">Win over social media. Enable your brand’s success.</p>
                        <button class="btn btn-lg bg-v-green-l rounded-0 border border-v-green-l fw-bold"
                            data-bs-toggle="modal" data-bs-target="#getInTouch">Get in Touch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="my-5 px-3">
        <p class="text-center fs-2 fw-bold">Explore a strategic approach to search engine optimization</p>
        <p class="text-center text-muted">Maximize ROI with transparent & data-driven methodologies!</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-sm-12 col-md-6 py-2" *ngFor="let elm of cards">
            <div class="card w-100 card-1 shadow cur-poiter h-100">
                <div class="card-body mx-2">
                    <div class="rounded-circle d-flex justify-content-center align-items-center"
                        style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                        <img [src]="elm.icon" style="max-height: 60px;max-width: 60px;" alt="">
                    </div>
                    <p class="fw-bold pt-2">{{elm.name}}</p>
                    <p class="text-muted" style="font-size: 13px;">{{elm.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light py-5 mt-5">
    <div class="container">
        <div class="row flex-sm-row-reverse justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center">
                <img src="assets/abstract-illustration-social-media-apps_52683-62412 1.png" class="img-fluid " alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 fw-bold mb-4">Have you tasted success on
                        social media yet? It’s YUM!</p>
                    <p class="text-muted">What can a social media marketing services company do for me?"
                        you might wonder. In simple words, the most significant advantage
                        that our social media marketing company can offer you is more time
                        and a higher ROI at a low cost.</p>
                    <p class="text-muted">
                        The ability to minimize your CPA (cost per acquisition) and increase
                        your ROI is the key to developing a successful social media
                        management campaign (or any digital marketing campaign for
                        that matter!).
                    </p>
                    <p class="text-muted">We, at Valiant Edge, assist businesses like you with social media
                        marketing services to save time and generate results. More traffic,
                        more engagement, more leads for your business. This is the motto
                        of our SMM services.</p>
                    <p class="fw-bold v-green-l">Accordingly we:</p>
                    <div class="row my-3">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Group 49.png" alt="" height="20" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0 text-muted">
                                Develop brand awareness by utilizing the perfect blend of
                                social media tools.
                            </p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Group 49.png" alt="" height="20" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0 text-muted">Build engagement by creating a strong connection with
                                your audience.
                            </p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Group 49.png" alt="" height="20" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0 text-muted">Increase website exposure by creating theme-based
                                Facebook ad campaigns.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-v-green-l mt-5">
    <div class="container py-5">
        <div class="text-center fs-2 text-white">Rank your Website on the Page #1</div>
        <!-- <div class="text-center text-white mt-3">Take your first step towards business transfermation</div> -->
        <div class="d-flex justify-content-center mt-4">
            <button class="shadow btn btn-md btn-white bg-white" data-bs-toggle="modal" data-bs-target="#getInTouch">
                <!-- <i class="fa-solid fa-phone"></i> -->
                <span>Get in Touch</span>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="my-5 px-3">
        <p class="text-center fs-2 fw-bold">Explore a strategic approach to search engine optimization</p>
        <!-- <p class="text-center text-muted">We are your reliable partners</p> -->
    </div>
</div>
<div class="container mb-5">
    <div class="row justify-content-around">
        <div class="col-sm-12 col-md-4 py-2" *ngFor="let elm of cards1">
            <div class="card w-100 card-1 shadow cur-poiter h-100">
                <div class="card-body mx-2">
                    <div class="rounded-circle d-flex justify-content-center align-items-center"
                        style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                        <img [src]="elm.icon" style="max-height: 60px;max-width: 60px;" alt="">
                    </div>
                    <p class="fw-bold pt-2">{{elm.name}}</p>
                    <p class="text-muted" style="font-size: 13px;">{{elm.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-lets-talk-form [isBgRequired]="true"></app-lets-talk-form>
<app-book-call></app-book-call>