<div class="container">
    <div class="rounded-4 shadow" style="background-image: linear-gradient(to bottom right, #D0D3FA, #fff);">
        <div class="row flex-sm-row-reverse py-3">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 row justify-content-center">
                <!-- <div class="col-10 col-sm-10 col-md-8"> -->
                <img src="assets/social-clouds 1.png" class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="ms-3">
                        <p class="fs-1 mb-2 fw-bold">Cloud Services</p>
                        <p class="pb-3 text-muted">Embrace agility and liberate yourself in a
                            multi-cloud realm</p>
                        <button class="btn btn-lg bg-v-green-l rounded-0 border border-v-green-l" data-bs-toggle="modal"
                            data-bs-target="#getInTouch">Get In Touch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p class="text-center fs-2 mt-5">Multi-cloud prowess: tailored solutions, seamless flexibility</p>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <p class="text-center text-muted">Deliver success through rapid growth and on-time execution of critical
                projects with our agile expertise.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-around mt-4">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-2" *ngFor="let elm of cards">
            <div class="card w-100 card-1 shadow cur-poiter h-100">
                <div class="card-body mx-2">
                    <div class="rounded-circle d-flex justify-content-center align-items-center"
                        style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                        <img [src]="elm.icon" style="max-height: 65px;max-width: 65px;" alt="">
                    </div>
                    <p class="fw-bold pt-2">{{elm.name}}</p>
                    <p class="text-muted" style="font-size: 13px;">{{elm.description}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light py-5 mt-5">
    <div class="container">
        <div class="row flex-sm-row-reverse justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center">
                <img src="assets/vecteezy_e-commerce-shop-for-the-world-s-online-shopping-transactions_ [Converted]-01 1.png"
                    class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-2">Safeguard your cloud experience
                        with dedicated AWS Cloud facilities,
                        prioritizing specialized security.</p>
                    <p class="pb-3 text-muted">Scale your business effortlessly and conquer heavy workloads with
                        Valiant Edge. Experience the power of an ideal cloud infrastructure,
                        whether you're launching new operations or revamping existing tech.
                        Our AWS managed services empower you with seamless data
                        management and optimal functionality. Trust us to handle the evolving
                        technology landscape, leveraging specialized cloud services for
                        Big Data and streamlined computing.</p>
                    <p class="fs-2 mb-2">Secure tools, fortified cloud
                        infrastructure trusted solutions.</p>
                    <p class="pb-3 text-muted">Gain a competitive edge with productive and secure business assets,
                        ensuring seamless functionality and timely operations.</p>
                    <p class="fs-2 mb-2">Maximize productivity, secure
                        assets - gain a competitive edge.</p>
                    <div class="text-muted">
                        <ul>
                            <li>AWS architecture</li>
                            <li>AWS migrations</li>
                            <li>AWS cloud management</li>
                        </ul>
                    </div>
                    <p class="pb-3 text-muted">Unleash business growth with our comprehensive cloud services,
                        ensuring seamless scalability and enhanced security.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
    <p class="text-center fs-2 mt-5 fw-bold">Technologies We Expertise</p>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <p class="text-center text-muted">Ignite engagement with our exceptional Cloud Technologies.</p>
        </div>
    </div>
    <div class="mt-5 row justify-content-between">
        <div class="col-6 col-sm-6 col-md-2">
            <div class="card w-100 card-1 shadow cur-poiter my-2">
                <div class="card-body mx-2 d-flex justify-content-center align-items-center" style="height: 200px;">
                    <img src="assets/Kubernetes_logo_PNG7 1.png" alt="" style="max-width: 100%;max-height: 150px;">
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-2">
            <div class="card w-100 card-1 shadow cur-poiter my-2">
                <div class="card-body mx-2 d-flex justify-content-center align-items-center" style="height: 200px;">
                    <img src="assets/Docker_logo_PNG2.png" alt="" style="max-width: 100%;max-height: 150px;">
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-2">
            <div class="card w-100 card-1 shadow cur-poiter my-2">
                <div class="card-body mx-2 d-flex justify-content-center align-items-center" style="height: 200px;">
                    <img src="assets/Group 70.png" alt="" style="max-width: 100%;max-height: 150px;">
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-2">
            <div class="card w-100 card-1 shadow cur-poiter my-2">
                <div class="card-body mx-2 d-flex justify-content-center align-items-center" style="height: 200px;">
                    <img src="assets/NicePng_tencent-logo-png_3869336.png" alt=""
                        style="max-width: 100%;max-height: 150px;">
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-2">
            <div class="card w-100 card-1 shadow cur-poiter my-2">
                <div class="card-body mx-2 d-flex justify-content-center align-items-center" style="height: 200px;">
                    <img src="assets/favpng_jenkins-devops-continuous-integration-software-development-installation.png"
                        alt="" style="max-width: 100%;max-height: 150px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-light">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center">
                <img src="assets/Artboard 28 1.png" class="img-fluid " alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-2">Stay buoyant and customer-focused
                        with our strategic insights, targeted
                        marketing, and captivating branding
                        solutions.</p>
                    <div class="row my-2">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Cloud_1_.png" alt="" height="10" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0">
                                <span class="fw-bold">Performance Optimization:</span>
                                <span class="text-muted"> Fine-tune your cloud infrastructure for
                                    optimal performance and efficiency, ensuring seamless operations
                                    and cost-effectiveness.</span>
                            </p>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Cloud_1_.png" alt="" height="10" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0">
                                <span class="fw-bold">Scalability and Elasticity:</span>
                                <span class="text-muted"> Scale your resources up or down
                                    dynamically to meet fluctuating demands, ensuring optimal resource
                                    allocation and cost optimization.</span>
                            </p>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Cloud_1_.png" alt="" height="10" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0">
                                <span class="fw-bold">Disaster Recovery:</span>
                                <span class="text-muted"> Implement robust disaster recovery plans and
                                    backup solutions to safeguard your data and ensure business
                                    continuity in case of unforeseen events.</span>
                            </p>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Cloud_1_.png" alt="" height="10" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0">
                                <span class="fw-bold">Cost Management:</span>
                                <span class="text-muted"> Implement cost management strategies and tools
                                    to monitor and optimize your cloud spending, ensuring maximum ROI
                                    and cost efficiency.</span>
                            </p>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Cloud_1_.png" alt="" height="10" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0">
                                <span class="fw-bold">Compliance and Governance:</span>
                                <span class="text-muted"> Ensure compliance with industry
                                    regulations and implement robust governance practices to maintain
                                    data privacy, security, and regulatory requirements.</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5 py-5">
    <div class="container-fluid">
        <div>
            <p class="fs-2 text-center fw-bold">Allow us to architect your cloud strategy with precision and expertise.
            </p>
            <p class="text-center text-muted">Experience unparalleled efficiency and unwavering reliability through
                Valiant edge’s exceptional AWS managed services.
            </p>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-around mt-5">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 py-2" *ngFor="let elm of cards1">
                    <div class="card w-100 card-1 shadow cur-poiter h-100">
                        <div class="card-body mx-2">
                            <div class="d-flex justify-content-center">
                                <div class="rounded-circle d-flex justify-content-center align-items-center"
                                    style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                                    <img [src]="elm.icon" style="max-height: 65px;max-width: 65px;" alt="">
                                </div>
                            </div>
                            <p class="fw-bold pt-2 text-center">{{elm.name}}</p>
                            <p class="text-muted text-center" style="font-size: 13px;">{{elm.description}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-lets-talk-form [isBgRequired]="true"></app-lets-talk-form>
<app-book-call [title]="'Unleash business growth potential'"></app-book-call>