<div style="background-image: linear-gradient(to bottom right, #D0D3FA, #fff);">
    <div class="container">
        <div class="row flex-sm-row-reverse">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="assets/brand-manager 1.png" class="img-fluid" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="ps-3">
                        <div class="text-center fs-1">About Us</div>
                        <p class="fs-1 mt-2 py-2">Dynamize your business with our unparalleled solutions</p>
                        <button class="btn btn-lg bg-v-green-l rounded-0 border border-v-green-l" data-bs-toggle="modal"
                            data-bs-target="#getInTouch">Get In Touch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="assets/Frame.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5 row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <div class="ps-3">
                    <div class="fs-1">The Next Generation of the
                        Marketing in Our DNA</div>
                    <p class="mt-2 py-2">&emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
                        perferendis earum dolorum totam ullam corrupti dolores autem delectus tempora perspiciatis,
                        iusto maiores, architecto qui atque fugit, repudiandae fugiat necessitatibus ducimus.</p>
                    <p class="mt-2 py-2">&emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
                        aperiam labore saepe, totam excepturi ullam amet dicta doloremque veniam porro, nesciunt
                        voluptatibus iusto? Accusamus necessitatibus iste, unde minima minus commodi.</p>
                    <p class="mt-2 py-2">&emsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa labore
                        nulla dicta facilis provident doloribus molestias qui quod eligendi? Explicabo molestiae
                        expedita perspiciatis eius nisi rerum voluptate ab obcaecati voluptatum.</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light my-5 py-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <div class="fs-1 text-center">Our Team</div>
                <div class="text-center">We have a group of experts who are crazy for delivering innovative solutions
                    every time
                    your business demands it. Commitment, transparency and unparalleled solution every time.</div>
            </div>
        </div>
        <app-empcardscroll></app-empcardscroll>
    </div>
</div>
<div class="pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5 col-sm-5 col-lg-5 col-xl-5 my-5">
                <div class="text-center fs-1">Latest News</div>
                <div class="text-center mt-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis corrupti, a libero exercitationem
                    ullam, at optio doloremque reprehenderit itaque vitae culpa similique ratione iure cupiditate
                    accusamus
                    earum quaerat! Illum!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-4 col-lg-4 col-xl-4 mt-4">
                <div class="card w-100 mt-2 shadow">
                    <div class="card-body" style="height: 350px;">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-4 col-lg-4 col-xl-4 mt-4">
                <div class="card w-100 mt-2 shadow">
                    <div class="card-body" style="height: 350px;">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-4 col-lg-4 col-xl-4 mt-4">
                <div class="card w-100 mt-2 shadow">
                    <div class="card-body" style="height: 350px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-v-green-l" style="border-radius: 100px 0px 0px 100px;">
    <div class="container">
        <div class="row py-5">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="assets/Group-sys.png" class="img-fluid" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="ps-3">
                        <div class="fs-1 text-white">Have any projects in your minds?
                            Lefts talk about it.</div>
                        <button class="btn btn-md btn-light rounded-0 shadow mt-4">Register Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>