<div class="container">
    <div class="rounded-4 shadow" style="background-image: linear-gradient(to bottom right, #D0D3FA, #fff);">
        <div class="row flex-sm-row-reverse py-3">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center">
                <!-- <div class="col-10 col-sm-10 col-md-8"> -->
                <img src="assets/website-development 1 (2).png" class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="ms-3">
                        <p class="fs-1 fw-bold mb-2">Software Development</p>
                        <p class="pb-3 text-muted">We help you give shape to your innovative ideas
                            Accelerate disruption within your organization with our
                            custom software development services.</p>
                        <button class="btn btn-lg bg-v-green-l rounded-0 border border-v-green-l fw-bold"
                            data-bs-toggle="modal" data-bs-target="#getInTouch">Get In Touch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="my-5 px-3">
        <p class="text-center fs-2 fw-bold">What Makes Us Different?</p>
        <p class="text-center text-muted">We are your reliable partners</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" *ngFor="let elm of cards;let i=index">
            <div class="card w-100 h-75 card-1 shadow cur-poiter pb-3" [ngClass]="{'mt-5':i%2==1,'mb-5':i%2==0}">
                <div class="card-body mx-2">
                    <div class="d-flex justify-content-center">
                        <div class="rounded-circle d-flex justify-content-center align-items-center"
                            style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                            <img [src]="elm.icon" style="max-height: 60px;max-width: 60px;" alt="">
                        </div>
                    </div>
                    <p class="fw-bold pt-2 text-center">{{elm.title}}</p>
                    <p class="text-muted text-center" style="font-size: 13px;">{{elm.description}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light mt-5">
    <div class="container">
        <div class="row justify-content-between flex-sm-row-reverse">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="assets/web-development-4880231-4071988 1.png" class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-2">A sneak peek into our Project Planning</p>
                    <p class="pb-3 text-muted">With are unprecedent software solutions we will
                        build and strengthen the business of our customer.
                        Creating sophisticated application that computes power,
                        stores database and deliver perfection.</p>
                    <div class="d-flex">
                        <div class="d-flex w-50 mx-2">
                            <img src="assets/responsive 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Requirement Assessment</div>
                            </div>
                        </div>
                        <div class="d-flex w-50 mx-2">
                            <img src="assets/testing 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Project Summary</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="d-flex w-50 mx-2">
                            <img src="assets/innovation 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Determining Required
                                    Resources</div>
                            </div>
                        </div>
                        <div class="d-flex w-50 mx-2">
                            <img src="assets/user-experience 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Key performance goals</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="d-flex w-50 mx-2">
                            <img src="assets/innovation 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Competitor Analysis</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="../../assets/Untitled design (7) 1.png" class="img-fluid " alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-2">Engaging Business Decisions
                        for Revenue Growth</p>
                    <p class="pb-3 text-muted">With are unprecedent software solutions we will
                        build and strengthen the business of our customer.
                        Creating sophisticated application that computes power,
                        stores database and deliver perfection.</p>
                    <div class="row gy-4">
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white mb-auto"
                                    style="text-align: center; width: 30px;height: 30px; background-color: #7AC1EA;">1
                                </div>
                                <div class="ms-2 fs-5 text-break">Rich
                                    UI/UX</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white mb-auto"
                                    style="text-align: center; width: 30px;height: 30px; background-color: #D8939A;">2
                                </div>
                                <div class="ms-2 fs-5 text-break">Customised for
                                    your Needs</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; width: 30px;height: 30px; background-color: #9198DB;">3
                                </div>
                                <div class="ms-2 fs-5 text-break">Mobile
                                    friendly</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; width: 30px;height: 30px; background-color: #EDC878;">4
                                </div>
                                <div class="ms-2 fs-5 text-break">Latest
                                    technology</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; width: 30px;height: 30px; background-color: #4C55A5;">5
                                </div>
                                <div class="ms-2 fs-5 text-break">Timely
                                    Delivery</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; width: 30px;height: 30px; background-color: #BF9842;">6
                                </div>
                                <div class="ms-2 fs-5 text-break">Marketing
                                    Consultation</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light my-5">
    <div class="container p-3">
        <div class="mt-3">
            <div>
                <p class="fs-2 text-center fw-bold">A peek into our website development process!</p>
                <p class="text-center text-muted">At Valiant Edge, we follow a structured format with a clear line of
                    thought to fine-tune your web design and development process.
                </p>
            </div>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-react icon-str" style="color: #61DBFB;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">React JS</div>
                </div>
                <div class=" shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-angular icon-str"
                                style="font-size: 150px;padding-left: 9px;padding-top: 5px;color: #dd1b16 ;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Angular</div>
                </div>
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-vuejs icon-str"
                                style="font-size: 140px;padding-left: 13px;padding-top: 20px;color: #42b883 ;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Vue JS</div>
                </div>
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-node-js icon-str"
                                style="font-size: 140px;padding-left: 13px;padding-top: 5px;color: #68A063 ;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Node JS</div>
                </div>
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-php icon-str"
                                style="font-size: 115px; padding-left: 3px;padding-top: 20px;color: #8993be  ;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">PHP</div>
                </div>
                <div class=" shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-java icon-str" style="color: #dd1b16;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Java</div>
                </div>
                <div class="shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-laravel icon-str"
                                style="font-size: 130px;padding-left: 13px;padding-top: 16px;color: red;"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Laravel</div>
                </div>
                <div class=" shadow cd-stl">
                    <div class="d-flex justify-content-center">
                        <div>
                            <i class="fa-brands fa-wordpress icon-str"></i>
                        </div>
                    </div>
                    <div class="text-center txt-effect">Wordpress</div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-lets-talk-form></app-lets-talk-form>
<app-book-call></app-book-call>