<div class="container">
    <div class="rounded-4 shadow" style="background-image: linear-gradient(to bottom right, #f9f9fa, #fff);">
        <div class="row flex-sm-row-reverse py-3">
            <div class="col-sm-12 col-md-4 row justify-content-center">
                <!-- <div class="col-10 col-sm-10 col-md-8"> -->
                <img src="assets/vecteezy_illustration-isometric-concept-safety-of-online-shopping-in_5638074 [Converted] 1 (2).png"
                    class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-8 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="ms-3">
                        <p class="fs-1 mb-2 fw-bold">Enterprise Search Engine
                            Optimization</p>
                        <p class="pb-3 text-muted">Improve scalability with enterprise SEO!
                            Fortify your brand reputation to maximize impact!</p>
                        <button class="btn btn-lg bg-v-green-l rounded-0 border border-v-green-l fw-bold">Rank your Page
                            #1</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light py-5 mt-5">
    <div class="container">
        <div class="">
            <p class="fs-2 fw-bold text-center">Explore a strategic approach to search engine optimization</p>
            <p class="text-center text-muted">Maximize ROI with transparent & data-driven methodologies!</p>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-5" *ngFor="let elm of cards">
                <div class="rounded-5 w-100" style="background-color: #eee;height: 85%;">
                    <div class="rounded-circle position-absolute d-flex justify-content-center align-items-center"
                        style="background-image: linear-gradient(#98CE34, #3CB24A);height: 90px;width: 90px; margin-left: 50px;margin-top: -45px;">
                        <img [src]="elm.icon" style="max-height: 55px;max-width: 55px;" alt="">
                    </div>
                    <div class="p-5">
                        <p class="fw-bold mt-4">{{elm.name}}</p>
                        <p style="font-size: 13px;">{{elm.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mt-5">
    <div class="container">
        <div class="row flex-sm-row-reverse justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center">
                <img src="assets/mobile-marketing-concept-illustration_114360-1497 1.png" class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-3 fw-bold">Build a foundation for effective
                        response!</p>
                    <p class="text-muted">You can generate an effective response during a future reputation
                        crisis with a strong enterprise SEO.</p>
                    <p class="text-muted">A large-scale, strategic approach to search engine optimization is
                        known as enterprise SEO. An enterprise SEO solution links your
                        business goals with the larger market opportunity and strengthens
                        your brand reputation to maximise effect throughout your marketing mix.</p>
                    <p class="text-muted">How can we significantly increase organic market share? How can
                        we defend our brand against negative news cycles?</p>
                    <p class="text-muted">Enterprise SEO provides answers to questions like these</p>
                    <p class="fw-bold">Enhance your digital portfolio to generate leads!</p>
                    <p class="text-muted">We follow the holistic approach in keyword research for your domain
                        and optimize them for strategic positioning of your brand.</p>
                    <p class="fw-bold">Not just that!</p>
                    <p class="text-muted">We curate search relevance on your website pages in real-time with
                        refreshed content. To support voice search.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light mt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center">
                <img src="assets/seo-concept-illustration_114360-5766 1.png" class="img-fluid " alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 fw-bold mb-4">Build a foundation for effective
                        response!</p>
                    <div class="row my-3">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Group 49.png" alt="" height="20" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0 text-muted">
                                A team of SEO specialists with experience, particularly for
                                B2Bs/Enterprises.
                            </p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Group 49.png" alt="" height="20" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0 text-muted">A bottom-up model or a targeted customer empathy
                                strategy.
                            </p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Group 49.png" alt="" height="20" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0 text-muted">SEO process with an agile approach that provides the
                                ability to reach milestones throughout the project's timeline
                            </p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Group 49.png" alt="" height="20" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0 text-muted">Rigorous testing using keyword ranks, backlinking quality,
                                organic and mobile web traffic, bounce rate, and
                                click-through rates.
                            </p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-1 row justify-content-end align-items-center px-0 mx-0">
                            <img src="assets/Group 49.png" alt="" height="20" style="width: 45px !important;">
                        </div>
                        <div class="col-11 ps-0 mb-0 row align-items-center">
                            <p class="mb-0 text-muted">Curation of optimized content, carefully selecting each term
                                to ensure semantic SEO and a high rate of shareability.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-v-green-l mt-5">
    <div class="container py-5">
        <div class="text-center fs-2 text-white">Rank your Website on the Page #1</div>
        <!-- <div class="text-center text-white mt-3">Take your first step towards business transfermation</div> -->
        <div class="d-flex justify-content-center mt-4">
            <button class="shadow btn btn-md btn-white bg-white" data-bs-toggle="modal" data-bs-target="#getInTouch">
                <!-- <i class="fa-solid fa-phone"></i> -->
                <span>Get in Touch</span>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="my-5 px-3">
        <p class="text-center fs-3 fw-bold">Stay on top of the SEO game with our enterprise SEO service!</p>
        <p class="text-center text-muted">Here’s what happens if your website appears higher in the Google Search
            results for a certain search query?</p>
    </div>
</div>
<div class="container mb-5">
    <div class="row justify-content-around">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" *ngFor="let elm of cards1;let i=index">
            <div class="card w-100 card-1 shadow cur-poiter my-2" [ngClass]="{'mt-5':i%2==1}">
                <div class="card-body mx-2" >
                    <div class="d-flex justify-content-center">
                        <div class="rounded-circle d-flex justify-content-center align-items-center"
                            style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                            <img [src]="elm.icon" style="max-height: 65px;max-width: 65px;" alt="">
                        </div>
                    </div>
                    <p class="fw-bold pt-2 text-center">{{elm.name}}</p>
                    <p class="text-muted text-center" style="font-size: 13px;">{{elm.description}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
<app-lets-talk-form [isBgRequired]="true"></app-lets-talk-form>
<app-book-call [title]="'Unleash business growth potential'"></app-book-call>