<div class="container">
    <div class="rounded-4 shadow" style="background-image: linear-gradient(to bottom right, #D0D3FA, #fff);">
        <div class="row flex-sm-row-reverse">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center">
                <!-- <div class="col-10 col-sm-10 col-md-8"> -->
                <img src="assets/website-development 1 (1).png" class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 py-3">
                    <div class="ms-3">
                        <p class="fw-bold mb-2 fs-1">Website development</p>
                        <p class="pb-3 text-muted">Website designing which gives your audience an amazing experience.
                        </p>
                        <button class="btn btn-lg bg-v-green-l rounded-0 border border-v-green-l fw-bold"
                            data-bs-toggle="modal" data-bs-target="#getInTouch">Get In Touch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="my-5 px-3">
        <p class="text-center fs-2 fw-bold">Custom PHP Development is Our Forte</p>
        <p class="text-center text-muted">Let us help you ramp up quickly and get your mission-critical projects
            executed within
            the deadline</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-2" *ngFor="let elm of cards">
            <div class="card w-100 card-1 shadow cur-poiter h-100">
                <div class="card-body mx-2">
                    <div class="rounded-circle d-flex justify-content-center align-items-center"
                        style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                        <img [src]="elm.icon" style="max-height: 50px;max-width: 50px;" alt="">
                    </div>
                    <p class="fw-bold pt-2">{{elm.name}}</p>
                    <p style="font-size: 13px;">{{elm.description}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light mt-5">
    <div class="container">
        <div class="row justify-content-between flex-sm-row-reverse">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="assets/web-development-process-img 1.png" class="img-fluid " alt="">
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-2">Web Streamlining Strategy</p>
                    <p class="pb-3 text-muted">With are unprecedent software solutions we will
                        build and strengthen the business of our customer.
                        Creating sophisticated application that computes power,
                        stores database and deliver perfection.</p>
                    <div class="d-flex">
                        <div class="d-flex w-50">
                            <img src="assets/responsive 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Fully Responsive</div>
                            </div>
                        </div>
                        <div class="d-flex w-50">
                            <img src="assets/testing 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Device Testing</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="d-flex w-50">
                            <img src="assets/innovation 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Clean & Modern</div>
                            </div>
                        </div>
                        <div class="d-flex w-50">
                            <img src="assets/user-experience 1.png" alt="" height="40px" width="40px">
                            <div class="d-flex align-items-center ms-2">
                                <div class="fs-5">Great Experience</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="assets/web-development-technology 1.png" class="img-fluid " alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row align-items-center">
                <div class="col-12">
                    <p class="fs-2 mb-2">Engaging Business Decisions
                        for Revenue Growth</p>
                    <p class="pb-3 text-muted">With are unprecedent software solutions we will
                        build and strengthen the business of our customer.
                        Creating sophisticated application that computes power,
                        stores database and deliver perfection.</p>
                    <div class="row gy-4">
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center; background-color: #7AC1EA; height: 30px !important;width: 30px !important;">
                                    <div class="align-self-center">1</div>
                                </div>
                                <div class="ms-2 fs-5 text-break text-wrap">Frontend
                                    Development</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center;  height: 30px !important;width: 30px !important; background-color: #D8939A;">
                                    <div class="align-self-center">2</div>
                                </div>
                                <div class="ms-2 fs-5 text-break">Project
                                    Management</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center;  height: 30px !important;width: 30px !important; background-color: #9198DB;">
                                    <div class="align-self-center">3</div>
                                </div>
                                <div class="ms-2 fs-5 text-break">Application
                                    Integration</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex p-3 shadow border h-100">
                                <div class="rounded-circle fs-5 text-white"
                                    style="text-align: center;  height: 30px !important;width: 30px !important; background-color: #EDC878;">
                                    <div class="align-self-center">4</div>
                                </div>
                                <div class="ms-2 fs-5 text-break">Custom
                                    Application</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="bg-light mt-5">
    <div class="container p-3">
        <div class="mt-3">
            <div>
                <p class="fs-2 text-center">Know our expertise a bit closer!</p>
                <p class="text-center">Wondering why you should choose us? Let our technical expertise speak for itself!
                </p>
            </div>
            <div class="d-flex justify-content-around flex-wrap">
                <div>
                    <i class="fa-brands fa-react icon-str shadow" style="color: #61DBFB;"></i>
                    <div class="text-center">React JS</div>
                </div>
                <div>
                    <i class="fa-brands fa-angular icon-str shadow"
                        style="font-size: 150px;padding-left: 9px;padding-top: 5px;color: #dd1b16 ;"></i>
                    <div class="text-center">Angular</div>
                </div>
                <div>
                    <i class="fa-brands fa-vuejs icon-str shadow"
                        style="font-size: 140px;padding-left: 13px;padding-top: 20px;color: #42b883 ;"></i>
                    <div class="text-center">Vue JS</div>
                </div>
                <div>
                    <i class="fa-brands fa-node-js icon-str shadow"
                        style="font-size: 140px;padding-left: 13px;padding-top: 5px;color: #68A063 ;"></i>
                    <div class="text-center">Node JS</div>
                </div>
                <div>
                    <i class="fa-brands fa-php icon-str shadow"
                        style="font-size: 115px; padding-left: 3px;padding-top: 20px;color: #8993be  ;"></i>
                    <div class="text-center">PHP</div>
                </div>
                <div>
                    <i class="fa-brands fa-react icon-str shadow" style="color: #61DBFB;"></i>
                    <div class="text-center">React Native</div>
                </div>
                <div>
                    <i class="fa-brands fa-laravel icon-str shadow"
                        style="font-size: 130px;padding-left: 13px;padding-top: 16px;color: red;"></i>
                    <div class="text-center">Laravel</div>
                </div>
                <div>
                    <i class="fa-brands fa-wordpress icon-str shadow"></i>
                    <div class="text-center">Wordpress</div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="mt-5">
        <p class="fs-2 fw-bold text-center">A peek into our website development process!</p>
        <p class="text-center text-muted">At VWings, we follow a structured format with a clear line of thought to
            fine-tune your
            web design and development process.</p>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-5" *ngFor="let elm of cards2">
            <div class="rounded-5 shadow-lg w-100 h-75 pb-4" style="background-color: #eee;">
                <div class="rounded-circle position-absolute d-flex justify-content-center align-items-center"
                    style="background-image: linear-gradient(#98CE34, #3CB24A);height: 90px;width: 90px; margin-left: 50px;margin-top: -45px;">
                    <img [src]="elm.icon" style="max-height: 50px;max-width: 50px;" alt="">
                </div>
                <div class="p-5">
                    <p class="fw-bold mt-4">{{elm.name}}</p>
                    <p style="font-size: 13px;">{{elm.description}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="bg-v-green-l my-5">
    <div class="container py-5">
        <div class="text-center fs-2 text-white">Need a Quote?</div>
        <div class="row justify-content-center mt-4">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="bg-white p-5" style="border-radius: 100px 100px 0px 100px;">
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-white group-bottom-border p-0 rounded-0" id="basic-addon1"><i
                                class="fa-solid fa-envelope text-danger fs-1"></i></span>
                        <input type="text" class="form-control group-bottom-border rounded-0" [(ngModel)]="companyName"
                            placeholder="Company Name" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="d-flex">
                        <button [disabled]="companyName.length<3" (click)="sendEmail()"
                            class="shadow btn btn-sm bg-v-green-l rounded-0 text-white ms-auto">Get in
                            touch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-lets-talk-form></app-lets-talk-form>
<app-book-call></app-book-call>