<div class="">

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators rounded-4">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item ratio bg-img-res0 active" style="--bs-aspect-ratio: 45%;" data-bs-interval="5000">
                <div class="row">
                    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" data-aos="fade-left" data-aos-duration="500"
                        data-aos-delay="300">
                        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"></ng-lottie>
                    </div> -->
                    <div
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5 row justify-content-center align-items-center">
                        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                            <div class="ps-3">
                                <p class="py-2 text-white animate__animated animate__fadeInDownBig animate__slow"
                                    style="font-size: 4vw;">
                                    Multi-cloud prowess: tailored solutions,<strong>seamless flexibility</strong>
                                </p>
                                <div class="d-block d-sm-block d-md-none">
                                    <div class="d-flex animate__animated animate__fadeInLeftBig animate__slow">
                                        <button routerLink="/contact" class="btn btn-sm btn-success">Contact
                                            Us</button>
                                        <button class="btn btn-sm ms-3 btn-outline-success"
                                            routerLink="/services/cloudesevices">Know
                                            More</button>
                                    </div>
                                </div>
                                <div class="d-none d-sm-none d-md-block">
                                    <div class="d-flex animate__animated animate__fadeInLeftBig animate__slow">
                                        <button routerLink="/contact" class="btn btn-lg btn-success">Contact
                                            Us</button>
                                        <button class="btn btn-lg ms-3 btn-outline-success"
                                            routerLink="/services/cloudesevices">Know
                                            More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ratio bg-img-res1" style="--bs-aspect-ratio: 45%;" data-bs-interval="5000">
                <div class="row">
                    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" data-aos="fade-left" data-aos-duration="500"
                        data-aos-delay="300">
                        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"></ng-lottie>
                    </div> -->
                    <div
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5 row justify-content-center align-items-center">
                        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                            <div class="ps-3">
                                <p class="py-2 text-white animate__animated animate__fadeInDownBig animate__slow"
                                    style="font-size: 4vw;">
                                    Dynamize your business
                                    with our <strong>UNPARALLELED
                                        SOLUTIONS</strong>
                                </p>
                                <div class="d-block d-sm-block d-md-none">
                                    <div class="d-flex animate__animated animate__fadeInLeftBig animate__slow">
                                        <button routerLink="/contact" class="btn btn-sm btn-success">Contact
                                            Us</button>
                                        <!-- <button class="btn btn-sm ms-3 btn-outline-success">Know
                                            More</button> -->
                                    </div>
                                </div>
                                <div class="d-none d-sm-none d-md-block">
                                    <div class="d-flex animate__animated animate__fadeInLeftBig animate__slow">
                                        <button routerLink="/contact" class="btn btn-lg btn-success">Contact
                                            Us</button>
                                        <!-- <button class="btn btn-lg ms-3 btn-outline-success">Know
                                            More</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ratio bg-img-res2" style="--bs-aspect-ratio: 45%;" data-bs-interval="5000">
                <div class="row">
                    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" data-aos="fade-down" data-aos-duration="500"
                        data-aos-delay="300">
                        <ng-lottie [options]="options0" (animationCreated)="onAnimate($event)"></ng-lottie>
                    </div> -->
                    <div
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5 row justify-content-center align-items-center">
                        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                            <div class="ps-3">
                                <p class="py-2 text-white animate__animated animate__fadeInUpBig animate__slow"
                                    style="font-size: 4.5vw;">
                                    Get the Perfect Solutions for your <strong>Website Issues</strong></p>
                                <div class="d-block d-sm-block d-md-none">
                                    <div class="d-flex animate__animated animate__fadeInDownBig animate__slow">
                                        <button routerLink="/contact" class="btn btn-sm btn-success">Contact
                                            Us</button>
                                        <!-- <button class="btn btn-sm ms-3 btn-outline-success">Know
                                            More</button> -->
                                    </div>
                                </div>
                                <div class="d-none d-sm-none d-md-block">
                                    <div class="d-flex animate__animated animate__fadeInDownBig animate__slow">
                                        <button routerLink="/contact" class="btn btn-lg btn-success">Contact
                                            Us</button>
                                        <!-- <button class="btn btn-lg ms-3 btn-outline-success">Know
                                            More</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ratio bg-img-res3" style="--bs-aspect-ratio: 45%;" data-bs-interval="5000">
                <div class="row">
                    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 h-50" data-aos="fade-right" data-aos-duration="500"
                        data-aos-delay="300">
                        <ng-lottie [options]="options1" (animationCreated)="onAnimate($event)"></ng-lottie>
                        <img src="assets/abstract-geometric-triangle-loader 1.png" alt="">
                    </div> -->
                    <div
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5 row justify-content-center align-items-center">
                        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ps-3">
                            <div class="ps-3">
                                <p class="py-2 text-white animate__animated animate__fadeInRightBig animate__slow"
                                    style="font-size: 4vw;">
                                    Your Growth Story Begins With <strong>VALIANT EDGE</strong></p>
                                <div class="d-block d-sm-block d-md-none">
                                    <div class="d-flex animate__animated animate__fadeInUpBig animate__slow">
                                        <button routerLink="/contact" class="btn btn-sm btn-success">Contact
                                            Us</button>
                                        <!-- <button class="btn btn-sm ms-3 btn-outline-success">Know
                                            More</button> -->
                                    </div>
                                </div>
                                <div class="d-none d-sm-none d-md-block">
                                    <div class="d-flex animate__animated animate__fadeInUpBig animate__slow">
                                        <button routerLink="/contact" class="btn btn-lg btn-success">Contact
                                            Us</button>
                                        <!-- <button class="btn btn-lg ms-3 btn-outline-success">Know
                                            More</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-2 mt-5" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300">
        <div class="col">
            <div class="text-center fs-2 fw-bold">A Corporate Commitment to High-End Strategy</div>
        </div>
    </div>
    <div class="row justify-content-around mb-5">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-4">
            <div class="card grow w-100 card-1 shadow h-100" data-aos="fade-right" data-aos-duration="500"
                data-aos-delay="300">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <div class="rounded-circle my-2" style="height: 67px; width: 67px; background-color: #F3F3F3;">
                            <img src="assets/svg/noun-innovation-3730369.svg" class="rounded-circle" height="65px"
                                style="background-color: #F3F3F3;" alt="">
                        </div>
                    </div>
                    <h6 class="card-title text-center">Persistent Innovation</h6>
                    <p class="card-text text-center">Innovation and upgradation keeps business alive in
                        market. Valiant Edge believes in agility and so we are
                        on the toes to adapt the trends and experimentation
                        to come up with unparalleled solution every time.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-4">
            <div class="card grow w-100 card-1 shadow h-100" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <div class="rounded-circle my-2" style="height: 67px; width: 67px; background-color: #F3F3F3;">
                            <img src="assets/svg/noun-commitment-2152586.svg" class="rounded-circle" height="65px"
                                alt="" style="background-color: #F3F3F3;">
                        </div>
                    </div>
                    <h6 class="card-title text-center">Commitment and Adherence</h6>
                    <p class="card-text text-center">We adhere religiously in what we do. Once a
                        commitment is delivered there is no turning back.
                        Transparency and performing up to the minute is
                        what we synonymize with.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-4">
            <div class="card grow w-100 card-1 shadow h-100" data-aos="fade-left" data-aos-duration="500"
                data-aos-delay="300">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <div class="rounded-circle my-2" style="height: 67px; width: 67px; background-color: #F3F3F3;">
                            <img src="assets/svg/noun-chess-strategy-4092476.svg" class="rounded-circle" height="55px"
                                alt="" style="background-color: #F3F3F3;margin-top: 5px;margin-left: 8px;">
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-center">High-End Strategy</h6>
                    <p class="card-text text-center">To deliver a cost-effective business, our team is
                        always buried in finding hi-end solution with tools
                        and techniques. We have adept professionals who
                        are specialist in redefining innovation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row justify-content-center mb-2 my-5" data-aos="fade-right" data-aos-duration="500"
        data-aos-delay="300">
        <div class="col">
            <div class="text-center fs-2 fw-bold">Showcasing the Team's Stellar Products</div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-sm-6 col-md-4 p-0" *ngFor="let elm of list" data-aos="zoom-in" data-aos-duration="500"
            data-aos-delay="300">
            <div style="background: url('assets/Artboard\ 30\ 1.png');height: 300px;"
                (mouseenter)="elm.isVisible = true" (mouseleave)="elm.isVisible = false">
                <div *ngIf="!elm.isVisible" style="height: 300px;opacity: 0.4;" [ngStyle]="{'background-color':elm.bg}">
                </div>
                <div *ngIf="elm.isVisible" style="height: 300px;"
                    class="d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-outline-info">Visit Now</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="bg-light mt-3">
    <div class="container">
        <div class="row flex-sm-row-reverse">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">
                <ng-lottie [options]="options2" (animationCreated)="onAnimate($event)"></ng-lottie>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
                <div class="col-12 pb-4">
                    <p class="fs-1">Cloud Services</p>
                    <p class="text-muted mt-3">With are unprecedent software solutions we will build and
                        strengthen the business of our customer. Creating sophisticated
                        application that computes power, stores database and deliver perfection.</p>
                    <div class="d-flex justify-content-between mt-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Designing a AWS Architecture</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">AWS managed IT Services</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Cloud Migration Services</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Devops Integration</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-2">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Api Cloud</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">SDK Cloud</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-2">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Web Services</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Cloude Hosting</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <ng-lottie [options]="options3" (animationCreated)="onAnimate($event)"></ng-lottie>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">
                <div class="col-12 pb-4">
                    <p class="fs-1">Design & Development</p>
                    <p class="text-muted mt-3">We deliver design that connects with your niche. Our adherence
                        reflects in our development. We develop a user-friendly solution
                        for your business.</p>
                    <div class="d-flex justify-content-between mt-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Web Design</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Mobile App Devlopment</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Android Devlopment</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">iOS Devlopment</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Back-End</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Front-End</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">E-Commerce</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Print Design</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row flex-sm-row-reverse">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">
                <ng-lottie [options]="options4" (animationCreated)="onAnimate($event)"></ng-lottie>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center align-items-center" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">
                <div class="col-12 pb-4">
                    <p class="fs-1">Marketing Services</p>
                    <p class="text-muted mt-3">Valiant Edge is synonym to the perfect marketing skills. World is
                        turning to digitalization, so why not your business, we will
                        have your back.</p>
                    <div class="d-flex justify-content-between mt-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Digital Marketing</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Lead Generation</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Enterprise SEO</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Digital Branding</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-4">
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Social Media Marketing</button>
                        </div>
                        <div class="btn-group shadow rounded-pill" role="group" aria-label="Button" style="width: 45%;">
                            <button type="button" class="btn btn-md btn-hover"
                                style="border-radius:50px 0px 0px 50px;"><i
                                    class="fa-solid fa-angle-right"></i></button>
                            <button type="button" class="btn btn-md w-100 text-start"
                                style="border-radius:0px 50px 50px 0px;">Pay-Per-Click</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container-fluid">
        <div class="row justify-content-center mb-3" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <div class="fs-1 text-center">Our Team</div>
                <div class="text-center mt-3">We have a group of experts who are crazy for delivering innovative solutions
                    every time
                    your business demands it. Commitment, transparency and unparalleled solution every time.</div>
            </div>
        </div>
        <app-empcardscroll></app-empcardscroll>
    </div>
</div> -->
<div class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">
            <div class="col">
                <div class="text-center fs-2">Revolutionize your business for unparalleled growth and success</div>
                <!-- <div class="text-center mt-4">
                    Struggling to establish your business or want to start one? Watch out to us for all your solutions.
                    We
                    are there to aid
                    you from website development to digital marketing. In nutshell complete business solutions.
                </div> -->
            </div>
        </div>
        <div class="row justify-content-center mt-5" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/4d1f4RIZrLg?autoplay=0&mute=1" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-white">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8">
                <p class="fs-2 fw-bold text-center">We're here to help our customers achieve their goals</p>
                <!-- <p class="text-muted text-center">
                    Find a team of digital marketers you can rely on. Every day, we
                    build trust through communication, transparency, and results.
                </p> -->
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-around">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 py-2" *ngFor="let elm of cards;let i=index">
                <div class="card card-2 w-100 shadow cur-poiter" [ngClass]="{'mt-5':i%2==1}" data-aos="zoom-in"
                    data-aos-duration="500" data-aos-delay="300">
                    <div class="card-body mx-2 mx-sm-0">
                        <div class="d-flex justify-content-center">
                            <div class="rounded-circle d-flex justify-content-center align-items-center"
                                style="background-image: linear-gradient(#98CE34, #3CB24A);height: 100px;width: 100px;">
                                <img [src]="elm.icon" style="max-height: 65px;max-width: 65px;" alt="bjhhjv">
                            </div>
                        </div>
                        <p class="fw-bold pt-2 text-center">{{elm.title}}</p>
                        <p class="text-muted text-center" style="font-size: 13px;">{{elm.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-v-green">
    <div class="container py-4">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
            <div class="col">
                <div class="fs-2 text-white text-center">
                    A Casual Chat to Uncover Opportunities for Your Company
                </div>
            </div>
        </div>
        <form [formGroup]="connectForm" (ngSubmit)="connectFormSubmit()">
            <div class="row justify-content-around mb-5 mt-2" data-aos="fade-left" data-aos-duration="500"
                data-aos-delay="300">
                <div class="col-sm-10 col-md-3 col-lg-3 col-xl-3 mt-4">
                    <input type="text" class="form-control rounded-0 bg-v-green text-white" formControlName="name"
                        placeholder="Name">
                </div>
                <div class="col-sm-10 col-md-3 col-lg-3 col-xl-3 mt-4">
                    <input type="text" class="form-control rounded-0 bg-v-green text-white" formControlName="email"
                        placeholder="Email">
                </div>
                <div class="col-sm-10 col-md-3 col-lg-3 col-xl-3 mt-4">
                    <input type="text" class="form-control rounded-0 bg-v-green text-white" formControlName="mobile"
                        placeholder="Phone">
                </div>
                <div class="col-sm-10 col-md-2 col-lg-2 col-xl-2 mt-4">
                    <input type="submit" class="btn bg-white rounded-0" [disabled]="connectForm.invalid"
                        value="Let's Connect">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div class="container">
    <div class="row justify-content-center my-5" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300">
        <div class="col">
            <div class="fs-2 text-center">
                <strong>Case Studies</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 justify-content-center" *ngFor="let elm of card3;let i = index"
            data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
            <div class="card" style="width: 100%;">
                <img src="assets/Artboard 30 1.png" class="card-img-top border-bottom" alt="...">
                <div class="card-body">
                    <div>
                        <span *ngIf="i==0"
                            class="badge rounded-pill text-bg-secondary shadow mx-2 mb-3 py-2">UI/UX</span>
                        <span class="badge rounded-pill text-bg-secondary shadow mx-2 mb-3 py-2">Development</span>
                    </div>
                    <p class="card-text">PM Drone: Redefining Agriculture with Revolutionary
                        Drone Technology." "Elevate Your Farming Potential with
                        PM Drone's Cutting-Edge Solutions.</p>
                    <button type="button" class="btn btn-outline-secondary">Read the case study</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container my-5 hgfhgjgv">
    <div class="row justify-content-center my-5" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300">
        <div class="col">
            <div class="fs-2 text-center">
                <strong>Company Profile</strong>
            </div>
        </div>
    </div>
    <div class="rounded-4 bg-light">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 p-4 d-flex justify-content-center" data-aos="fade-right" data-aos-duration="500"
                data-aos-delay="300">
                <div class="bg-secondary rounded-4 m-5 m-md-0 m-lg-5">
                    <img src="assets/A4 - 111.png" alt="ve" height="100%">
                </div>
            </div>
            <div class="col-12 col-md-7 p-4" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">
                <div class="m-5">
                    <div class="fs-2 text-wrap mb-3">Pioneering Excellence in the
                        Business Landscape</div>
                    <p>
                        Valiant Edge: Fueling Success through Innovation. We provide strategic consulting,
                        digital transformation, and custom software development to empower
                        businesses in a dynamic world. Partner with us to achieve growth,
                        efficiency, and remarkable outcomes.
                    </p>
                    <button type="button" class="btn btn-lg btn-outline-secondary mt-2"
                        (click)="downloadCompanyDetails()">Gothrough the company
                        profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pb-5 container-fluid">
    <div class="">
        <div class="row justify-content-center" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300">
            <div class="col-sm-12 col-md-5 col-sm-5 col-lg-5 col-xl-5 my-5">
                <div class="text-center fs-1">Testaments of Happy Customers</div>
                <div class="text-center mt-4">
                    Here is what a content and happy review looks like. Join the army of those who have
                    had a great experience working with us.
                </div>
            </div>
        </div>
        <app-happycustomer></app-happycustomer>
    </div>
</div>
<div class="bg-v-green-l">
    <div class="container py-5">
        <div class="text-center fs-2 text-white" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">Ready
            to Get Started?</div>
        <div class="text-center text-white mt-3" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">Take
            your first step towards business transfermation</div>
        <div class="d-flex justify-content-center mt-4" data-aos="flip-left" data-aos-duration="500"
            data-aos-delay="300">
            <button class="shadow btn btn-md btn-white bg-white" data-bs-toggle="modal" data-bs-target="#getInTouch">
                <!-- <i class="fa-solid fa-phone"></i> -->
                <span>Get in Touch</span>
            </button>
        </div>
    </div>
</div>

<div class="pb-5 container">
    <div class="">
        <div class="row justify-content-center" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300">
            <div class="col-sm-12 col-md-5 col-sm-5 col-lg-5 col-xl-5 my-5">
                <div class="text-center fs-1">Our Clientele</div>
                <!-- <div class="text-center mt-4">
                    Here is what a content and happy review looks like. Join the army of those who have
                    had a great experience working with us.
                </div> -->
            </div>
        </div>
        <div class="d-flex g-4 flex-wrap justify-content-center">
            <div class="shadow-lg rounded rounded-circle m-3 d-flex justify-content-center align-items-center p-2"
                style="height: 200px; width: 200px;">
                <img src="assets/Agrivimaan Logo.png" alt="" width="100%">
            </div>
            <div class="shadow-lg rounded rounded-circle m-3 d-flex justify-content-center align-items-center p-2"
                style="height: 200px; width: 200px;">
                <img src="assets/One Life Just Go Logo.png" alt="" width="100%">
            </div>
            <div class="shadow-lg rounded rounded-circle m-3 d-flex justify-content-center align-items-center p-2"
                style="height: 200px; width: 200px;">
                <img src="assets/OPQ Tech Logo.png" alt="" width="100%">
            </div>
            <div class="shadow-lg rounded rounded-circle m-3 d-flex justify-content-center align-items-center p-2"
                style="height: 200px; width: 200px;">
                <img src="assets/wheelsdeals.png" alt="" width="100%">
            </div>
            <div class="shadow-lg rounded rounded-circle m-3 d-flex justify-content-center align-items-center p-2"
                style="height: 200px; width: 200px;">
                <img src="assets/omstaff.png" alt="" width="100%">
            </div>
        </div>
    </div>
</div>