<div class="container">
    <div class="rounded-4 shadow" style="background-image: linear-gradient(to bottom right, #D0D3FA, #fff);">
        <div class="row flex-sm-row-reverse">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center pt-3">
                <div class="col-10 col-sm-10 col-md-8">
                    <img src="assets/website-development 1.png" class="img-fluid " alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-3 row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="ms-3">
                        <p class="fs-1 pt-5 fw-semibold mb-0">Contact us</p>
                        <p class="my-3 text-muted">Looking for unprecedented solutions for your business glitches??</p>
                        <p class="mb-3 text-muted">No more queuing and baffling your mind with inappropriate solutions
                            Vigilant Edge is there to escalate your growth and bring you success effortlessly.</p>
                        <p class="text-muted">Let's make you preeminent TOGETHER!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <p class="fs-2 fw-semibold mb-0">Let’s Find Us In</p>
    <p class="fs-2 fw-semibold text-l-g mt-2">Ballari</p>
    <div class="row">
        <div class="col-12 co-sm-12 col-md-4">
            <div class="fw-semibold fs-2 mt-2">Address</div>
            <p class="text-muted">Flat No 506 S.L.V Towers Ganadhi Nagar 2nd Cross Ballari 583103 Karnataka</p>
        </div>
        <div class="col-12 co-sm-12 col-md-3">
            <div class="fw-semibold fs-2 mt-2">Email</div>
            <p class="text-muted">info@valiantedgetech.com</p>
        </div>
        <div class="col-12 co-sm-12 col-md-2">
            <div class="fw-semibold fs-2 mt-2">Phone</div>
            <div class="text-muted">+91 8496 929 113</div>
            <div class="text-muted">+91 9741 138 165</div>
        </div>
        <div class="col-12 co-sm-12 col-md-2">
            <div class="fw-semibold fs-2 mt-2">Follow Us</div>
            <p class="d-flex mt-1">
                <i class="fa-brands fa-facebook rounded-circle border border-success text-center"
                    style="height: 22px;width: 22px;padding-top: 2px;"></i>
                <i class="fa-brands fa-square-x-twitter ms-3 rounded-circle border border-success text-center"
                    style="height: 22px;width: 22px;padding-top: 2px;"></i>
                <i class="fa-brands fa-instagram ms-3 rounded-circle border border-success text-center"
                    style="height: 22px;width: 22px;padding-top: 2px;"></i>
                <i class="fa-brands fa-youtube ms-3 rounded-circle border border-success text-center"
                    style="height: 22px;width: 22px;padding-top: 2px;"></i>
                <i class="fa-brands fa-linkedin ms-3 rounded-circle border border-success text-center"
                    style="height: 22px;width: 22px;padding-top: 2px;"></i>
            </p>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-3">
            <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
                <div>
                    <p class="fs-2 fw-semibold">Get In Touch</p>
                    <p class="fw-bolder text-l-g fs-2">Send Us a Message</p>
                    <p class="text-muted">Your sales growth is just a click away
                        Message us and our experts will get back to you.</p>
                </div>
                <div class="mt-4">
                    <div class="row">
                        <div class="col">
                            <input type="email" class="form-control rounded-0" formControlName="email"
                                placeholder="Email" aria-label="Email">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control rounded-0" formControlName="name" placeholder="Name"
                                aria-label="name">
                        </div>
                    </div>
                    <textarea class="form-control mt-4 rounded-0" formControlName="message" placeholder="Message"
                        rows="3"></textarea>
                </div>
                <button type="submit" [disabled]="messageForm.invalid"
                    class="shadow btn btn-md bg-v-green-l rounded-0 mt-4 ms-auto">Send Message</button>
            </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 justify-content-center">
            <!-- <div class="col-12 col-sm-12 col-md-8">
                <img src="assets/image 1.png" class="img-fluid " alt="">
            </div> -->
            <!-- <google-map [options]="mapOptions" width="100%">
                <map-marker [position]="mapposition" [label]="label"></map-marker>
            </google-map> -->
        </div>
    </div>
</div>
<div class="container-fluid mt-5 bg-v-green-l py-5">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-10 col-sm-10 col-md-5 py-3">
                <div class="d-flex align-items-center">
                    <div class="fw-semibold fs-2">
                        Come visit & have a cup of
                        coffee at our Valiant Edge!
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-10 col-md-5 py-3">
                <div>
                    <p class="fw-semibold">News Letter</p>
                    <p style="font-size: 14px;" class="text-white">A well-executed brand strategy affects all aspects of
                        a business
                        and is connected to consumer needs & emotions.</p>
                    <div class="input-group mb-3 shadow">
                        <input type="email" class="form-control rounded-0" [(ngModel)]="emailAddress"
                            (ngModelChange)="validateEmail()" placeholder="Your Mail" aria-label="Your Mail"
                            aria-describedby="basic-addon2">
                        <span class="input-group-text rounded-0" (click)="sendEmail()"
                            [ngStyle]="{'background-color': isInvalidEmail?'#B4F3B4':'#38B337','cursor':isInvalidEmail?'no-drop':'pointer'}"
                            id="basic-addon2"><i class="fa-solid fa-arrow-up text-white"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>